//全局变量

//左侧菜单宽度
$base-menu-width: 260px;
//左侧菜单颜色
$base-menu-background-color: #f6f6f7;

//导航栏高度
$base-tabbar-hegiht:50px;
//导航栏颜色
$base-tabbar-background-color: #fff;

//内容背景颜色
$base-contain-background-color: pink;